In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/utilisateur/Desktop/object_detection/data/annotations/train_labels.csv')

In [3]:
df

         filename  width  height           class  xmin  ymin  xmax  ymax
0    DSC_0002.JPG   5504    3096       red light  1001   485  1172   999
1    DSC_0002.JPG   5504    3096  50 speed limit  1242   751  1450  1003
2    DSC_0002.JPG   5504    3096       stop sign  1490   796  1731  1033
3    DSC_0002.JPG   5504    3096   30 speed sign  1979   796  2231  1044
4    DSC_0002.JPG   5504    3096          person  1905  1303  2179  1759
..            ...    ...     ...             ...   ...   ...   ...   ...
466  DSC_0035.JPG   5504    3096          person  2798  2288  3157  2914
467  DSC_0035.JPG   5504    3096          person  2964  1659  3176  2196
468  DSC_0035.JPG   5504    3096     green light  3272  1388  3513  2070
469  DSC_0035.JPG   5504    3096   30 speed sign  3550  1581  3776  1855
470  DSC_0035.JPG   5504    3096       stop sign  3872  1525  4138  1785

[471 rows x 8 columns]

In [4]:
df1 = df[['filename', 'class']]
df1

         filename           class
0    DSC_0002.JPG       red light
1    DSC_0002.JPG  50 speed limit
2    DSC_0002.JPG       stop sign
3    DSC_0002.JPG   30 speed sign
4    DSC_0002.JPG          person
..            ...             ...
466  DSC_0035.JPG          person
467  DSC_0035.JPG          person
468  DSC_0035.JPG     green light
469  DSC_0035.JPG   30 speed sign
470  DSC_0035.JPG       stop sign

[471 rows x 2 columns]

In [5]:
df2 = df1.groupby('filename')['class'].sum().to_frame().reset_index()
df2

,filename,class
0,DSC_0002.JPG,red light50 speed limitstop sign30 speed signp...
1,DSC_0002_1615652012122.JPG,50 speed limitpersongreen light30 speed signre...
2,DSC_0003.JPG,red light50 speed limitstop sign30 speed signp...
3,DSC_0003_1615652011057.JPG,50 speed limitpersongreen light30 speed signre...
4,DSC_0004.JPG,personred light30 speed signstop signperson50 ...
...,...,...
58,DSC_0032.JPG,green light30 speed signpersonstop signpersonr...
59,DSC_0033.JPG,green light30 speed signpersonstop signpersonr...
60,DSC_0033_1615651980527.JPG,personred light
61,DSC_0034.JPG,stop signpersongreen light50 speed limitperson...
62,DSC_0035.JPG,red light50 speed limitpersonpersongreen light...

In [6]:
df2['class']

0     red light50 speed limitstop sign30 speed signp...
1     50 speed limitpersongreen light30 speed signre...
2     red light50 speed limitstop sign30 speed signp...
3     50 speed limitpersongreen light30 speed signre...
4     personred light30 speed signstop signperson50 ...
                            ...
58    green light30 speed signpersonstop signpersonr...
59    green light30 speed signpersonstop signpersonr...
60                                      personred light
61    stop signpersongreen light50 speed limitperson...
62    red light50 speed limitpersonpersongreen light...
Name: class, Length: 63, dtype: object